.searchContextInput,
.searchQueryInput {
  border-radius: var(--ifm-global-radius);
  border: var(--ifm-global-border-width) solid
    var(--ifm-color-content-secondary);
  font-size: var(--ifm-font-size-base);
  padding: 0.5rem;
  width: 100%;
  background: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  margin-bottom: 1rem;
}

.searchResultItem {
  padding: 1rem 0px;
  border-bottom: 1px solid rgb(223, 227, 232);
}

.searchResultItem[data-theme="dark"] {
  border-bottom: 1px solid rgb(22, 22, 22);
}

.searchResultItem > h3 {
  margin-bottom: 0;
  line-height: var(--ifm-line-height-base) !important;
}

.searchResultItem > h3 > a {
  color: var(--ifm-font-color-base) !important;
  font-weight: normal !important;
  text-decoration-thickness: 1px !important;
  text-decoration-style: dotted !important;
  /* text-decoration: none !important; */
}

.searchResultItemPath {
  color: var(--ifm-color-content-secondary);
  font-size: 0.8rem;
  margin: 0.5rem 0px 0px;
}

.searchResultItemSummary {
  /* font-style: italic; */ 
  /* EJECT ACTION:  Override font-style here */
  font-style: normal;
  margin: 0.5rem 0px 0px;
}

@media only screen and (max-width: 996px) {
  .searchQueryColumn {
    max-width: 60% !important;
  }

  .searchContextColumn {
    max-width: 40% !important;
  }
}

@media screen and (max-width: 576px) {
  .searchQueryColumn {
    max-width: 100% !important;
  }

  .searchContextColumn {
    max-width: 100% !important;
    padding-left: var(--ifm-spacing-horizontal) !important;
  }
}
